[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scrapy-splash = "*"
scrapy = "*"
pymysql = "*"
sqlalchemy = "*"
pillow = "*"
requests = "*"
ipython = "*"

[dev-packages]

[requires]
python_version = "3.6"
